<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.rehome.RehomeService">

<insert id="rehomeinput">
	insert into rehome(rh_no, rh_gb1, rh_gb2, rh_gb3, rh_title, rh_pname, rh_pno, rh_misdate, rh_misplace, rh_image, mem_no, mem_nickname, mem_tel, rh_content, rh_readcount)
		values (rh_no.nextval, '미확인', #{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7}, #{param8}, #{param9}, #{param10}, #{param11}, #{param12}, 0)
</insert>

<select id="rehomeoutput" resultType="com.ezen.rehome.RehomeDTO">
	select * from rehome where rh_gb1='승인' and rh_gb2!='분양완료' order by rh_no desc
</select>

<select id="rehomeendtotal" resultType="int">
	select count(*) from rehome where rh_gb2='분양완료'
</select>

<select id="rehomeendpage" resultType="com.ezen.rehome.RehomeDTO">
	select * from (select rownum rn, A.* from(select * from rehome where rh_gb2='분양완료' order by rh_no desc)A) where rn between #{start} and #{end}
</select>

<select id="rehomeadmin" resultType="com.ezen.rehome.RehomeDTO">
	select * from rehome order by rh_no desc
</select>

<select id="rehomedetail" resultType="com.ezen.rehome.RehomeDTO">
	select * from rehome where rh_no = #{param1}
</select>

<update id="rehomereadcount">
	update rehome set rh_readcount = rh_readcount +1 where rh_no = #{param1}
</update>

<delete id="rehomedelete">
	delete from rehome where rh_no = #{param1}
</delete>

<update id="rehomemodify">
	update rehome set rh_gb1=#{param2}, rh_gb2=#{param3}, rh_gb3=#{param4}, rh_title=#{param5}, rh_pname=#{param6}, rh_pno=#{param7}, rh_misdate=#{param8}, rh_misplace=#{param9}, rh_image=#{param10}, mem_no=#{param11}, mem_nickname=#{param12}, mem_tel=#{param13}, rh_content=#{param14}, rh_readcount=#{param15}
	 where rh_no=#{param1}
</update>

<select id="rehomesearch" resultType="com.ezen.rehome.RehomeDTO">
	select * from rehome
		<where>
			<if test="gb2list != null">
				rh_gb2 in
					<foreach collection="gb2list" item="gb2" open="(" close=")" separator=",">
						#{gb2}
					</foreach>
				and
			</if>
			<if test="gb3list != null">
				rh_gb3 in
					<foreach collection="gb3list" item="gb3" open="(" close=")" separator=",">
						#{gb3}
					</foreach>
				and
			</if>
			rh_misplace like '%'||#{sword}||'%'
			and rh_gb1='승인' and rh_gb2!='분양완료'
		</where>
		order by rh_no desc
</select>

<select id="rehomeadminsearch" resultType="com.ezen.rehome.RehomeDTO">
	select * from rehome
		<where>
			<if test="gb1list != null">
				rh_gb1 in
					<foreach collection="gb1list" item="gb1" open="(" close=")" separator=",">
						#{gb1}
					</foreach>
			</if>
			and rh_misplace like '%'||#{sword}||'%'
		</where>
		order by rh_no desc
</select>

<update id="rehomeok">
	update rehome set rh_gb1=#{param2} where rh_no=#{param1}
</update>

<update id="rehomeimbo">
	update rehome set rh_gb2='분양', mem_no=#{param2}, mem_nickname=#{param3}, mem_tel=#{param4} where rh_no=#{param1}
</update>

<update id="rehomebun">
	update rehome set rh_gb2='분양완료' where rh_no=#{param1}
</update>

<select id="cntpage" resultType="int">
	select count(*) from  rehome where rh_gb1='승인' and rh_gb2!='분양완료'
</select>

<select id="selectpage" resultType="com.ezen.rehome.RehomeDTO">
	select * from(
		select rownum rn,A.* from(
		select * from rehome where rh_gb1='승인' and rh_gb2!='분양완료' order by rh_no desc)A)
			where rn between #{start} and #{end}
</select>

<select id="rehomeAdminPage" resultType="com.ezen.rehome.RehomeDTO">
	select * from(
		select rownum rn,A.* from(
		select * from rehome order by rh_no desc)A)
			where rn between #{start} and #{end}
</select>

<select id="rehomeMovePage" parameterType="int" resultType="com.ezen.teamb.MovePageVO">
select * from(SELECT
		 rh_no,
		 LEAD(rh_no,1,9999) OVER(ORDER BY rh_no) AS nextno,
		 LAG(rh_no,1,9999) OVER(ORDER BY rh_no) AS lastno,
		 rh_title,
		 LEAD(rh_title,1,9999) OVER(ORDER BY rh_no) AS nexttitle,
         LAG(rh_title,1,9999) OVER(ORDER BY rh_no) AS lasttitle
         
		 FROM rehome
		 where rh_gb1='승인' and rh_gb2!='분양완료'
         order by rh_no DESC) 
         WHERE rh_no = #{rh_no}
</select>

<select id="rehomeEndMovePage" parameterType="int" resultType="com.ezen.teamb.MovePageVO">
select * from(SELECT
		 rh_no,
		 LEAD(rh_no,1,9999) OVER(ORDER BY rh_no) AS nextno,
		 LAG(rh_no,1,9999) OVER(ORDER BY rh_no) AS lastno,
		 rh_title,
		 LEAD(rh_title,1,9999) OVER(ORDER BY rh_no) AS nexttitle,
         LAG(rh_title,1,9999) OVER(ORDER BY rh_no) AS lasttitle
         
		 FROM rehome
		 where rh_gb1='승인' and rh_gb2='분양완료'
         order by rh_no DESC) 
         WHERE rh_no = #{rh_no}
</select>

</mapper>