<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.missing.MissingService">

<insert id="missing_insert">
	INSERT INTO MISSING VALUES(MIS_NO.NEXTVAL, #{param1}, #{param2}, #{param3}, #{param4}, #{param5}, #{param6}, #{param7}, #{param8}, #{param9}, #{param10}, #{param11}, sysdate ,#{param12},0)
</insert>

<select id="missingout" resultType="com.ezen.missing.MissingDTO">
	select * from missing where mis_gb='실종'
</select>

<select id="missingend" resultType="com.ezen.missing.MissingDTO">
	select * from missing where mis_gb='귀가'
</select>

<select id="missingdetail" resultType="com.ezen.missing.MissingDTO">
	select * from missing where mis_no = #{param1}
</select>

<delete id="missingdelete">
	delete from missing where mis_no=#{param1}
</delete>

<update id="missingmodify_insert">
	update missing set mis_gb=#{param2}, mis_gb2=#{param3}, mis_title=#{param4}, mis_pname=#{param5}, mis_pno=#{param6}, mis_misdate=#{param7}, mis_misplace=#{param8}, mis_image=#{param9}, mem_no=#{param10}, mem_nickname=#{param11}, mem_tel=#{param12}, mis_content=#{param13},mis_readcount=#{param14} where mis_no=#{param1}
</update>

<update id="rehoming">
	update missing set mis_gb='귀가' where mis_no=#{param1}
</update>

<update id="missingreadcount">
	update missing set mis_readcount=mis_readcount+1 where mis_no=#{param1}
</update>

<select id="cntpost" resultType="int">
	select count(*) from  missing
</select>

<select id="selectpost" resultType="com.ezen.missing.MissingDTO">
	select * from(
		select rownum rn,A.* from(
		select * from missing order by groups desc,step asc)A)
			where rn between #{start} and #{end}
</select>

</mapper>